A few generator requirements:

Every sql mudule needs to set search_path to production, deska:
SET search_path TO production,deska;

If you have to specify sequenction to generate uids:
CREATE SEQUENCE host_uid START 1;

In every module table must be uid and name columns:
-- this column is required in all plugins
uid bigint DEFAULT nextval('host_uid')
	CONSTRAINT host_pk PRIMARY KEY,
-- this column is required in all plugins
name identifier
	CONSTRAINT host_name_unique UNIQUE NOT NULL,

Relations definition:
You can add relation on column using reference (contains, refers_to, embed) or by column (template)
FIXME: todo relations!
For template relation, just name the column with prefix "template_" of bigint type.

From this convetion, you cannot create columns with prefix "template_" for non templated use.
Also do not use column names with postfix "_templ" that has deska for internal use.
The maximum length of kind name and attribute name (column) is 20 together (_template_resolved_object_data_template_info + kindName + attName = 64) - FIXME: how to change this
